@charset "UTF-8";
.str7 {stroke:#6842C2;stroke-width:300;stroke-miterlimit:22.9256;stroke-opacity:0.239216}
.str12 {stroke:black;stroke-width:300;stroke-miterlimit:22.9256}
.str0 {stroke:#04D361;stroke-width:300;stroke-miterlimit:22.9256}
.str5 {stroke:#9871F5;stroke-width:300;stroke-miterlimit:22.9256}
.str6 {stroke:#04D361;stroke-width:26.46;stroke-miterlimit:22.9256}
.str4 {stroke:#9871F5;stroke-width:26.46;stroke-miterlimit:22.9256}
.str13 {stroke:#C9C9D4;stroke-width:26.46;stroke-miterlimit:22.9256}
.str8 {stroke:#452B1F;stroke-width:20;stroke-miterlimit:22.9256}
.str18 {stroke:#765441;stroke-width:100;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
.str15 {stroke:#561E15;stroke-width:200;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
.str9 {stroke:#86553C;stroke-width:200;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
.str2 {stroke:#04D361;stroke-width:300;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
.str1 {stroke:white;stroke-width:300;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
.str11 {stroke:#452B1F;stroke-width:500;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
.str19 {stroke:#765441;stroke-width:500;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
.str16 {stroke:#86553C;stroke-width:500;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
.str14 {stroke:#C9C9D4;stroke-width:26.46;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
.str17 {stroke:#43302D;stroke-width:150;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
.str20 {stroke:#765441;stroke-width:150;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
.str10 {stroke:#86553C;stroke-width:150;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
.str3 {stroke:#04D361;stroke-width:52.92;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
.fil0 {fill:none}
.fil15 {fill:none}
.fil30 {fill:#373435}
.fil29 {fill:#5A2F2F}
.fil24 {fill:#5A2F2F}
.fil1 {fill:#04D361}
.fil23 {fill:#194248}
.fil33 {fill:#43302D}
.fil27 {fill:#47248F}
.fil35 {fill:#60423D}
.fil21 {fill:#6842C2}
.fil34 {fill:#765441}
.fil28 {fill:#86553C}
.fil2 {fill:#9871F5}
.fil31 {fill:#BC8567}
.fil20 {fill:#BC8567}
.fil25 {fill:#C5947B}
.fil32 {fill:#C9C9D4}
.fil22 {fill:#D8D8E3}
.fil4 {fill:#E6E6F0}
.fil6 {fill:#F2F2FA}
.fil26 {fill:#FCDDC6}
.fil3 {fill:white}
.fil7 {fill:#BC8567;fill-opacity:0.000000}
.fil5 {fill:#E6E6F0;fill-opacity:0.239216}
.fil17 {fill:#03A14A}
.fil9 {fill:#04D361}
.fil13 {fill:#0E1235}
.fil14 {fill:#452B1F}
.fil11 {fill:#86553C}
.fil19 {fill:#B27250}
.fil8 {fill:#B27250}
.fil10 {fill:#F2F2FA}
.fil18 {fill:white}
.fil12 {fill:url(#id2)}
.fil16 {fill:url(#id3)}
